/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  background-color: #DFDFDE;
  font-family: 'Permanent Marker',
    sans-serif;
  ;
}

body {
  margin: 1rem 5rem;
}


/******************************************
/* LAYOUT
/*******************************************/

/* 
< !-- Navigational Content --> */

nav {
  display: flex;
  height: 3rem;
}

nav section.linkL {
  justify-content: flex-start;
  width: 50%;
  padding-left: 3rem;
  display: flex;
}

nav section.linkR {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  padding-right: 3rem;
}

/* Main Section*/
main {
  display: flex;
}

section.columnLeft {
  width: 50%;
  text-align: end;
  padding-right: 5rem;
  background-color: ;
}

section.columnLeft div h1 {
  justify-content: flex-end;
  padding-top: 3rem;
}

div img.arrow {
  height: 6rem;
  padding: 0 3rem 0 0;
}


section.columnRight {
  width: 50%;
}

section.columnRight div img {
  width: auto;
  height: 18rem;
  padding: 0 5rem;
}

/* Quote Results Section */
section.quote {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

section.quote div h2 {
  padding: 3rem 2rem;
  background-color: #8D8DAA;
  border-radius: .5rem;
  width: 40%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;

}

section.quote div {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
}


section.quote div img {

  margin: 0 8rem;
  margin-top: -10rem;

}

/* Footer */
footer div {
  display: flex;
  justify-content: center;
}

footer div p {
  font-size: 1.25rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

a:hover {
  transform: translateY(-3px);
  color: #8D8DAA;
}

/* button */
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
}

button {
  border-radius: .5rem;
  font-size: 1.25rem;
}